<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FlipperZero.NET</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Flipper Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playground">
                <span class="bi bi-plugin-nav-menu" aria-hidden="true"></span> Playground
            </NavLink>
        </div>

        <div class="nav-section-label px-3">Demos</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-sub" href="demos/led">
                <span class="bi bi-lightbulb-nav-menu" aria-hidden="true"></span> LED Color Picker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-sub" href="demos/canvas">
                <span class="bi bi-display-nav-menu" aria-hidden="true"></span> Screen Canvas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-sub" href="demos/gamepad">
                <span class="bi bi-gamepad-nav-menu" aria-hidden="true"></span> Flipper Gamepad
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
